<h1>Projects</h1>
<div class="row">
  {% for project in projects %}
  <div class="col-md-4">
    <div class="card mb-2">
      <div class="card-body">
        <h2 class="card-title">{{ project.title }}</h2>
        {% for sub_dir in project.sub_dirs %}
        <div class="col-md-4" style="margin-left: 2rem">
          <div class="card mb-2">
            <h3 class="card-title">- {{ sub_dir.title }}</h3>
            <ul class="card-body">
              {% for pdf_path in sub_dir.image_pdf_list %}
              <li class="col-md-4">
                <div class="card mb-2">
                  <div
                    class="card-body"
                    style="
                      display: grid;
                      grid-template-columns: max-content max-content;
                      grid-column-gap: 12px;
                      align-items: center;
                    "
                  >
                    <div class="card-title">{{ pdf_path }}</div>
                    <a
                      href="pdf-view?pdf_path={{ pdf_path }}"
                      class="btn btn-primary"
                    >
                      View
                    </a>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
