Django==4.2.5
autopep8==2.0.1
django-cors-headers==4.0.0
google-api-core==2.11.0
google-api-python-client==2.82.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-auth==2.16.2
googleapis-common-protos==1.59.0
httplib2==0.22.0
imageio==2.27.0
numpy==1.24.2
pylint==2.16.2
python-dotenv==1.0.0
requests==2.31.0
tqdm==4.62.3
urllib3==2.0.4